Source: node-red-contrib-revpi-nodes
Section: javascript
Priority: extra
Maintainer: Kunbus <admin@kunbus.de>
Testsuite: autopkgtest-pkg-nodejs
Build-Depends:
 debhelper-compat (= 13)
 , nodejs (>= 6)
 , pkg-js-tools (>= 0.9.35)
Standards-Version: 4.5.0
Homepage: https://github.com/erminas/node-red-contrib-revpi-nodes#readme
Vcs-Git: https://github.com/erminas/node-red-contrib-revpi-nodes
Vcs-Browser: https://github.com/erminas/node-red-contrib-revpi-nodes

Package: node-red-contrib-revpi-nodes
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs (>= 6)
 , node-ws
Description: Node-RED nodes for Revolution Pi
 Node-RED nodes to read or write elements in the process image of a
 Revolution Pi.  A daemon needs to be running on the Revolution Pi
 to serve as a bridge between the Node-RED nodes and the process image.
 .
 Node-RED is a graphical flow editor for event driven applications.
 .
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
